{% extends "collec_management/navbar.html" %}
{% load django_bootstrap5 %}

{% block title %}
<div class="d-flex p-2 justify-content-center shadow p-3 bg-light rounded">
  <h2 class="fw-bold">Modifier la collection : {{ collection.title }}</h2>
</div>
{% endblock %}

{% block content %}
<div class="p-4">
  <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-flex justify-content-center">
        {% bootstrap_button button_type="submit" content="Modifier" button_class="btn-dark" size="lg" %}
        <a href={% url "all_collections" %} class="btn bg-secondary btn-lg ms-4 text-white">Retour</a>
      </div>
  </form>
</div>
{% endblock %}
